@{
    ViewBag.Title = "Contato";
}
<h2>Contato</h2>
<h3>Nielson Ferreira</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:nielsonfferreira@hotmail.com">nielsonfferreira@hotmail.com</a><br />
</address>